<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <!-- Column 1: Resources -->
      <div class="col-md-3">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#">Find A Store</a></li>
          <li><a href="#">Become A Member</a></li>
          <li><a href="#">Send Us Feedback</a></li>
        </ul>
      </div>

      <!-- Column 2: Help -->
      <div class="col-md-3">
        <h5>Help</h5>
        <ul class="list-unstyled">
          <li><a href="#">Get Help</a></li>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Payment Options</a></li>
        </ul>
      </div>

      <!-- Column 3: Contact Us -->
      <div class="col-md-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Nike</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Vietnam</a></li>
        </ul>
      </div>

      <!-- Column 4: Legal -->
      <div class="col-md-3">
        <h5>Legal</h5>
        <ul class="list-unstyled">
          <li><a href="#">© 2024 Nike, Inc. All rights reserved</a></li>
          <li><a href="#">Guides</a></li>
          <li><a href="#">Terms of Sale</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Nike Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Add Bootstrap 4 CDN -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
