<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/css/style.css" />
  </head>
  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>
      <!-- Main Content -->
      <main class="main-content">
        <%- include('../../partials/header') %>
        <div class="form-group"><b>Tên sản phẩm: </b><%= detail.title %></div>
      </main>
    </div>
  </body>
</html>
